<!--INF601 - Advanced Programming in Python-->
<!--Jackson Reed-->
<!--Mini Project 4-->
{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>Welcome to the Home Page!</h1>
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
      <h2>Question 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non mauris non metus tincidunt hendrerit.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h2>Question 2</h2>
      <p>Integer hendrerit lacus vel purus suscipit, ac varius orci sodales. Nulla facilisi.</p>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <h2>Question 3</h2>
      <p>Donec mattis urna nec tortor tincidunt vehicula. Fusce ac felis vehicula, blandit est vel, fringilla lacus.</p>
    </a>
    <!-- Add more questions as needed -->
  </div>
</div>
{% endblock %}